#img-profile{
  /*padding-top: 10px;*/
  margin-top: 10px;
  width: 150px;
  height: 100px;
  border: 3px solid rgba(0,0,0,0.3)
}
.img-circle{
  border-radius:50%;
}

.fa{
  font-size: 24px;
}
h1, h2, h3{
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(0,0,0,0.5);
}
h1{
  font-weight: bold;
  font-size: 25px;
}

body {
  font-family: 'Cairo', sans-serif;
  display: block;
  margin: 8px;
  color: rgba(0,0,0,0.5);
}
body {
    background-image: url("https://source.unsplash.com/random");
    background-color: grey;
    /*opacity: */
}
.img-movie{
  width: 300px;
  border-radius: 10%
}
.movie-description{
  padding-left: 40px;
}
a{
  color: rgba(0,0,0,0.2);
  text-decoration: none;
}
a:hover{
  color: rgba(0,0,0,0.8);
}
div {
  display: block;
}
.card {
  position: relative;
  background-color: white;
  margin: 15px;
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
  border-radius: 4px;
}
.text-center{
  text-align: center;

}

.list-inline{
  padding-left: 0px;
  margin: 0px;
}
.list-inline li{
  /*padding-left: 0px*/
  display: inline-block;

}
ul {
  list-style-type: disc;
  display: block;
  color: rgba(0,0,0,0.3);
}

.inside-movie{
  display: block;
  list-style-type: disc;
}
.button{
  background-color: rgba(0,0,0,0.3);
  color:rgba(255,255,255,0.6);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.7);
  /*margin:10px;*/
  border-radius: 10px;
  padding:10px;
}
.button:hover{
  background-color: rgba(0,0,0,0.3);
  color:rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.7);
}
